
$themeColor: #28A745;

* {
  padding: 0;
  margin: 0;
  a {
    text-decoration: none;
  }
  img {
    vertical-align: bottom;
  }
  .container {
    width: calc(100% - 32px);
    margin: 0 auto;
    max-width: 800px;
  }
}

body {
  header {
    padding: 16px 0;
    &.container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 800px;
    }
    h1 {
      width: 160px;
    }
    img {
      width: 100%;
      height: 50%;
      vertical-align: middle;
    }
  }

  .btn {
    display: block;
    width: 120px;
    padding: 8px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    background: $themeColor;
    box-shadow: 0 3px 0 green;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      box-shadow: none;
      transform: translateY(1px);
    }
  }
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 14px;
  font-weight: light;
  text-align: center;
  letter-spacing: 0.05rem;
}