@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

* a {
  text-decoration: none;
}

* img {
  vertical-align: bottom;
}

* .container {
  width: calc(100% - 32px);
  margin: 0 auto;
  max-width: 800px;
}

html, body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html section h1, body section h1 {
  text-align: center;
  background: #28A745;
  margin: 64px;
  padding: 16px 0;
  border-radius: 64px;
  color: #fff;
}

html header, body header {
  padding: 16px 0;
}

html header.container, body header.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 800px;
}

html header h1, body header h1 {
  width: 200px;
}

html header img, body header img {
  width: 100%;
  height: 50%;
  vertical-align: middle;
}

html .btn, body .btn {
  display: block;
  width: 120px;
  padding: 8px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #28A745), color-stop(50%, green));
  background: linear-gradient(#28A745 50%, green 50%);
  -webkit-box-shadow: 0 3px 0 darkgreen;
          box-shadow: 0 3px 0 darkgreen;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html .btn:hover, body .btn:hover {
  opacity: 0.8;
}

html .btn:active, body .btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

html .hero, body .hero {
  background-color: #99e6ff;
  background-image: url(../img/bg.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  text-align: center;
}

html .hero .desc, body .hero .desc {
  color: #fff;
}

html .hero .desc h1, body .hero .desc h1 {
  letter-spacing: 0.5rem;
  color: navy;
  font-weight: bolder;
  background: none;
}

html .hero .desc h1 :not(span), html .hero .desc h1 :not(i), body .hero .desc h1 :not(span), body .hero .desc h1 :not(i) {
  letter-spacing: normal;
}

html .hero .desc h1 span, body .hero .desc h1 span {
  color: #fff;
}

html .hero .desc h1 span i, body .hero .desc h1 span i {
  padding: 16px;
  font-size: 80px;
}

html .hero .desc h1 span .fa-dog, body .hero .desc h1 span .fa-dog {
  font-size: 32px;
}

html .hero .desc p, body .hero .desc p {
  letter-spacing: 0.5rem;
}

html .hero .desc .btn, body .hero .desc .btn {
  margin: 64px auto;
}

html .hero img, body .hero img {
  width: 50%;
  height: 50%;
}

html .features, body .features {
  margin-top: 64px;
}

html .features h2, body .features h2 {
  padding: 16px 0;
}

html .features section, body .features section {
  margin: 32px 0;
}

html .features section .pic, body .features section .pic {
  padding: 32px;
}

html .features section .pic img, body .features section .pic img {
  width: 100%;
}

html .features section .desc p, body .features section .desc p {
  line-height: 1.5rem;
}

html .voices, body .voices {
  margin-top: 64px;
  padding-bottom: 64px;
  background: #99e6ff;
}

html .voices section, body .voices section {
  background: #fff;
  padding: 16px;
  margin: 8px 0;
  border-radius: 16px;
}

html .voices section footer, body .voices section footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

html .call-to-action, body .call-to-action {
  margin: 64px;
  background-color: #99e6ff;
  background-image: url(../img/bg.png);
  background-repeat: repeat-x;
  border-radius: 16px;
  background-position: center bottom;
}

html .call-to-action .btn, body .call-to-action .btn {
  position: relative;
  top: 20px;
  margin: 0 auto;
}

footer .container {
  width: 100%;
  margin-top: auto;
  padding: 8% 0;
  text-align: center;
  background: #28A745;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

@media (min-width: 600px) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .desc, .hero .pic {
    width: 80%;
  }
  .hero section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .features section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .features section:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .voices .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
  }
  .voices section {
    width: calc((100% - 32px) / 3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-display: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 8px 0;
  }
  footer .container {
    width: 100%;
    margin-top: auto;
    padding: 8% 0;
    text-align: center;
    background: #28A745;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }
}
/*# sourceMappingURL=styles.css.map */