* {
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
  height: 220px;
  margin: 16px auto;
  outline: 8px solid pink;
  border-radius: 8px;
  ul {
    list-style: none;
    height: 100%;
    li {
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
