* {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

body {
  section {
    width: 90%;
    height: fit-content;
    background: #DC3545;
    margin: 16px auto;
    border-radius: 8px;
    .text {
      font-size: 32px;
      text-align: center;
      .border {
        border: 2px dashed lightgray;
        margin: 0 8px;
      }
    }
    .material-symbols-rounded {
      font-size: 64px;
      color: #FFC107;
    }
  }
}