// common
* {
  padding: 0;
  margin: 0;
  img {
    vertical-align: bottom;
  }
}



// header
header {
  background: #efefef;
  .container {
    width: 400px;
    margin: 0 auto;
    padding: 32px 0;
    display: flex;
    align-items: center;
    div + div {
      margin-left: 32px;
    }
    .icon img {
      border-radius: 50%;
    }
  }
  h1 {
    font-weight: normal;
    font-size: 24px;
  }
  ul {
    list-style: none;
    display: flex;
    img {
      width: 20px;
      height: 20px;
    }
    // 2つ目のli要素を以下のように指定することもできます
    li + li {
      margin-left: 8px;
    }
  }
}



// main
main {
  .container {
    width: 400px;
    margin: 0 auto;
    outline: 2px solid red;
    h1 {
      font-size: 24px;
      font-weight: normal;
      text-align: center;
    }
  }
}



// footer