* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: Verdana, Geneva, sans-serif;
  .container {
    width: 300px;
    margin: auto;
    text-align: center;
  }
  #app {
    h1 {
      font-size: 24px;
      letter-spacing: 0.5rem;
      border-bottom: 1px solid #ddd;
      padding: 16px 0;
    }
    form {
      .btn {
        font-weight: bold;
        width: 50px;
        height: 28px;
        margin: 16px 0 24px;
        &:hover {
          background: lightgray;
          cursor: pointer;
        }
      }
      input {
        border: 2px solid gray;
        border-radius: 16px;
        height: 24px;
      }
      input[type="text"] {
        padding: 0 8px;
      }
    }
    ul {
      li {
        line-height: 2;
        height: 40px;
        list-style: none;
      }
      .command {
        font-weight: bold;
        height: 25px;
        text-align: right;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        color: #08c;
      }
    }
  }
}