* {
  padding: 0;
  margin: 0;
}

body {
  section {
    width: 400px;
    height: fit-content;
    background: #DC3545;
    margin: 16px auto;
    border-radius: 16px;
    .text {
      font-size: 32px;
      text-align: center;
    }
  }
}