* {
  margin: 0;
  padding: 0;
  color: #565656;
}

$themeColor: skyblue;

html, body {
  height: 100%;
  background: #EFEBE0;
}

header {
  height: 10%;
  background: rgba($color: $themeColor, $alpha: 0.4);
}

body {
  display: flex;
  flex-direction: column;
  background-image: url(http://placeimg.com/640/480/nature);
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .landing {
    width: 90%;
    margin: auto;
    .hero {
      margin: 48px auto 16px;
      padding: 16px;
      line-height: 3;
      letter-spacing: 2px;
      font-weight: bold;
      font-family: "Hiragino Maru Gothic Pro";
      h2 {
        font-family: initial;
        font-size: 32px;
        transition: all 0.8s;
      }
    }
    .form {
      width: fit-content;
      background: $themeColor;
      border: 4px solid rgba($color: blue, $alpha: 0.5);
      border-radius: 16px;
      margin: 32px auto 16px;
      padding: 24px;
      h2 {
        letter-spacing: 4px;
      }
      h2, h3 {
        font-family: "Hiragino Maru Gothic Pro";
      }
      .form_item {
        padding: 24px 24px 24px 0;
        input {
          width: 100%;
          border: 2px solid lightgray;
          border-radius: 8px;
          padding: 8px;
          &:nth-child(3) {
            margin-top: 8px;
          }
        }
      }
      button {
        display: block;
        border: none;
        border-radius: 32px;
        font-weight: bold;
        color: #fff;
        letter-spacing: 4px;
        text-align: center;
        background: rgba($color: blue, $alpha: 0.5);
        box-shadow: 2px 2px 2px black;
        padding: 8px 32px;
        margin: 16px auto 0;
        transition: background 0.6s;
        &:hover {
          cursor: pointer;
          background: rgba($color: blue, $alpha: 1);
        }
      }
    }
  }
}


footer {
  margin-top: auto;
  text-align: center;
  padding: 32px;
  background: $themeColor;
  font-weight: bold;
  .link-item {
    font-size: 16px;
    font-weight: normal;
    margin-top: 16px;
    a {
      text-decoration: none;
      transition: opacity 0.4s;
      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }
}

@media (min-width: 800px) {
  header {
    height: 8%;
    background: rgba($color: $themeColor, $alpha: 0.4);
  }
  .logo a {
    position: absolute;
    top: 3%;
    left: 3%;
    font-size: 24px;
    text-decoration: none;
    font-family: "Rockwell";
  }
  .globalMenuSp {
    position: absolute;
    top: 3%;
    right: 3%;
    ul {
      display: flex;
      li {
        margin: 0 8px;
        letter-spacing: 2px;
        list-style: none;
      }
    }
  } 
  .hamburger {
    display: none;
  }
  .landing {
    display: flex;
    margin: 0 auto;
    .hero {
      width: 70%;
    }
    .form {
      width: 30%;
    }
  }
}

@media (max-width: 800px) {
  .logo a {
    position: absolute;
    top: 3%;
    left: 3%;
    font-size: 24px;
    text-decoration: none;
    font-family: "Rockwell";
  }
  /*　ハンバーガーボタン　*/
  .hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 13px;
    top   : 12px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    span {
      display : block;
      position: absolute;
      width   : 30px;
      height  : 2px ;
      left    : 6px;
      background : #555;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition   : 0.3s ease-in-out;
      transition        : 0.3s ease-in-out;
      &:nth-child(1) {
        top: 10px;
      }
      &:nth-child(2) {
        top: 20px;
      }
      &:nth-child(3) {
        top: 30px;
      }
    }
  }

  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }

  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }

  nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #000;
    background: #fff;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.6s;
    width: 100%;
    ul {
      background: #ccc;
      margin: 0 auto;
      padding: 0;
      width: 100%;
      li {
        list-style-type: none;
        padding: 0;
        width: 100%;
        border-bottom: 1px solid #fff;
        &:last-child {
          padding-bottom: 0;
          border-bottom: none;
        }
        &:hover {
          background: #ddd;
        }
        a {
          display: block;
          color: #000;
          padding: 1em 0;
          text-decoration :none;
        }
      }
    }
  }

  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    transform: translateY(0%);
  }

  // .nav-list {
  //   display: none;
  // }
  // .hamburger {
  //   position: absolute;
  //   top: 3%;
  //   right: 3%;
  // }
  .pc-logo {
    display: none;
  }
  .smartPhone-logo {
    background: $themeColor;
    border-radius: 50%;
    margin-top: -10px;
    padding: 16px 16px 1px;
    vertical-align: middle;
  }
}