* {
  margin: 0;
  padding: 0;
  color: #565656;
}

html, body {
  height: 100%;
  background: #EFEBE0;
}

header {
  height: 10%;
  background: rgba(135, 206, 235, 0.4);
}

body {
  display: flex;
  flex-direction: column;
  background-image: url(http://placeimg.com/640/480/nature);
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body .landing {
  width: 90%;
  margin: auto;
}
body .landing .hero {
  margin: 48px auto 16px;
  padding: 16px;
  line-height: 3;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: "Hiragino Maru Gothic Pro";
}
body .landing .hero h2 {
  font-family: initial;
  font-size: 32px;
  transition: all 0.8s;
}
body .landing .form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: skyblue;
  border: 4px solid rgba(0, 0, 255, 0.5);
  border-radius: 16px;
  margin: 32px auto 16px;
  padding: 24px;
}
body .landing .form h2 {
  letter-spacing: 4px;
}
body .landing .form h2, body .landing .form h3 {
  font-family: "Hiragino Maru Gothic Pro";
}
body .landing .form .form_item {
  padding: 24px 24px 24px 0;
}
body .landing .form .form_item input {
  width: 100%;
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 8px;
}
body .landing .form .form_item input:nth-child(3) {
  margin-top: 8px;
}
body .landing .form button {
  display: block;
  border: none;
  border-radius: 32px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 4px;
  text-align: center;
  background: rgba(0, 0, 255, 0.5);
  box-shadow: 2px 2px 2px black;
  padding: 8px 32px;
  margin: 16px auto 0;
  transition: background 0.6s;
}
body .landing .form button:hover {
  cursor: pointer;
  background: blue;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 32px;
  background: skyblue;
  font-weight: bold;
}
footer .link-item {
  font-size: 16px;
  font-weight: normal;
  margin-top: 16px;
}
footer .link-item a {
  text-decoration: none;
  transition: opacity 0.4s;
}
footer .link-item a:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media (min-width: 800px) {
  header {
    height: 8%;
    background: rgba(135, 206, 235, 0.4);
  }
  .logo a {
    position: absolute;
    top: 3%;
    left: 3%;
    font-size: 24px;
    text-decoration: none;
    font-family: "Rockwell";
  }
  .nav-list {
    position: absolute;
    top: 3%;
    right: 3%;
  }
  .nav-list ul {
    display: flex;
  }
  .nav-list ul li {
    margin: 0 8px;
    letter-spacing: 2px;
    list-style: none;
  }
  .hamburger {
    display: none;
  }
  .landing {
    display: flex;
    margin: 0 auto;
  }
  .landing .hero {
    width: 70%;
  }
  .landing .form {
    width: 30%;
  }
}
@media (max-width: 800px) {
  .logo a {
    position: absolute;
    top: 3%;
    left: 3%;
    font-size: 24px;
    text-decoration: none;
    font-family: "Rockwell";
  }
  .nav-list {
    display: none;
  }
  .hamburger {
    position: absolute;
    top: 3%;
    right: 3%;
  }
  .pc-logo {
    display: none;
  }
  .smartPhone-logo {
    background: skyblue;
    border-radius: 50%;
    margin-top: -10px;
    padding: 16px 16px 1px;
    vertical-align: middle;
  }
}/*# sourceMappingURL=styles.css.map */