* {
  margin: 0;
  padding: 0;
  color: #565656;
}

$themeColor: skyblue;

html, body {
  height: 100%;
  background: #EFEBE0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  height: 80px;
  text-align: center;
  vertical-align: middle;
  margin: 16px 0;
  p {
    width: 20%;
    margin: 8px auto 32px;
    border: 4px solid $themeColor;
    border-radius: 8px;
  }
}

.form {
  width: fit-content;
  background: $themeColor;
  border: 4px solid rgba($color: blue, $alpha: 0.5);
  border-radius: 24px;
  margin: 32px auto 16px;
  padding: 24px 48px;
  h2 {
    letter-spacing: 4px;
  }
  h2, h3 {
    font-family: "Hiragino Maru Gothic Pro";
  }
  .form_item {
    padding: 24px 24px 24px 0;
    input {
      width: 100%;
      border: 1px solid gray;
      border-radius: 4px;
      padding: 8px;
      &:nth-child(3) {
        margin-top: 8px;
      }
    }
  }
  button {
    display: block;
    border: none;
    border-radius: 32px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: rgba($color: blue, $alpha: 0.5);
    box-shadow: 2px 2px 2px black;
    padding: 8px 32px;
    margin: 16px auto 0;
    transition: background 0.6s;
    &:hover {
      cursor: pointer;
      background: rgba($color: blue, $alpha: 1);
    }
  }
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 32px;
  background: $themeColor;
  font-weight: bold;
  .link-item {
    font-size: 16px;
    font-weight: normal;
    margin-top: 16px;
    a {
      text-decoration: none;
      transition: opacity 0.4s;
      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }
}