* {
  margin: 0;
  padding: 0;
}

$themeColor: skyblue;

header {
  height: 80px;
  text-align: center;
  vertical-align: middle;
  margin: 16px 0;
}

.form {
  width: fit-content;
  background: $themeColor;
  border-radius: 8px;
  margin: 0 auto;
  padding: 24px;
}