* {
  padding: 0;
  margin: 0;
}

body {
  input {
    border: solid 2px lightgray;
    border-radius: 4px;
  }
  select {
    width: 80px;
    border: solid 2px lightgray;
    border-radius: 4px;
  }
  button {
    width: 40px;
    height: 20px;
    border: solid 2px lightgray;
    border-radius: 4px;
    &:hover {
      background-color: #CFD8DC;
      opacity: 0.8;
    }
  }
}