* {
  padding: 0;
  margin: 0;
}

$pc : (min-width: 800px);
$tab: (min-width: 600px) and (max-width: 799px);
$sp : (min-width: 0px) and (max-width: 599px);

@media ($sp) {
}

@media ($tab) {
}

@media ($pc) {
}