* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  #open, #close {
    cursor: pointer;
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
    padding: 12px 0;
    margin: 16px auto 0;
  }
  #mask {
    background: rgba($color: #000000, $alpha: 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  #modal {
    background: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    & p {
      margin: 0 0 20px;
    }
  }
}