* {
  margin: 0;
  padding: 0;
}

body {
  padding: 64px;
  .box {
    width: 100px;
    height: 100px;
    background-color: orange;
    // transition関連を一括で記述することもできます
    // 順不同で書くことができますが、時間関連の記述は
    // 最初の方がduration、後の方がdelayと認識される点に注意しましょう
    transition: transform 0.3s ease-out 0.5s, background 0.3s;
    // 以下のように変化後のスタイリングを記述してあげます
    &:hover {
      transform: translateX(240px);
      background: skyblue;
    }
  }
}