* {
  padding: 0;
  margin: 0;
}

$theme_color: pink;

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  .plan_table {
    h2 {
      width: 40%;
      margin: 16px auto;
      text-align: center;
      background: #000;
      color: #fff;
      border-radius: 64px;
    }
    table {
      width: 40%;
      margin: 0 auto;
      th {
        text-align: left;
      }
    }
  }
}

header {
  text-align: center;
  margin: 16px 0;
  hr {
    width: 160px;
    border: 3px solid $theme_color;
    margin: 16px auto;
  }
}

footer {
  margin-top: auto;
  padding: 32px;
  text-align: center;
  color: #fff;
  background: $theme_color;
  .footer_link {
    font-size: 14px;
    margin-top: 8px;
    a {
      text-decoration: none;
      color: #fff;
      transition: color 0.3s;
      &:hover {
        color: gray;
      }
    }
  }
}