* {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;

  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(4, 100px);

  grid-template-areas:
    "r r r y y"
    "r r r y y"
    "c c g y y"
    "c c b . ."
    ; 
}

// lesson13-14

.box1 {
  background: hsl(0, 60%, 60%);
  grid-area: r;
}
.box2 {
  background: hsl(60, 60%, 60%);
  grid-area: y;
}
.box3 {
  background: hsl(120, 60%, 60%);
  grid-area: g;
}
.box4 {
  background: hsl(180, 60%, 60%);
  grid-area: c;
}
.box5 {
  background: hsl(240, 60%, 60%);
  grid-area: b;
}
.box6 {
  background: hsl(300, 60%, 60%);
}