* {
  padding: 0;
  margin: 0;
}

$theme_color: pink;

html, body {
  height: 100%;
  background: #EFEBE0;
}

header {
  text-align: center;
  margin: 16px 0;
  hr {
    border: 3px solid $theme_color;
    border-radius: 8px;
    width: 160px;
    margin: 16px auto;
  }
}

body {
  display: flex;
  flex-direction: column;
  .post_form {
    .search_window {
      width: 400px;
      text-align: center;
      margin: 32px auto;
      border-radius: 64px;
      button {
        border: none;
        background: #EFEBE0;
        &:hover {
          cursor: pointer;
        }
        i {
          color: $theme_color;
          font-size: 24px;
          vertical-align: middle;
          margin: 0 8px;
        }
      }
      input {
        width: 240px;
        padding: 8px;
        border: 2px solid $theme_color;
        border-radius: 8px;
        background: #EFEBE0;
      }
    }
    .post {
      width: 95%;
      height: 80%;
      font-size: 56px;
      text-align: center;
      padding: 80px 0;
      margin: 0 auto;
      color: #fff;
      background: gray;
      border-radius: 8px;
    }
  }
  .register_form {
    text-align: center;
    width: 35%;
    margin: 80px auto;
    padding: 16px;
    background: #fff;
    border-radius: 16px;
    h2 {
      margin: 16px 16px 24px;
    }
    hr {
      border: 1px solid gray;
      border-radius: 8px;
    }
    .form_item {
      margin: 32px 0;
      hr {
        border: 2px solid $theme_color;
        border-radius: 8px;
        width: 80px;
        margin: 0 auto 16px;
      }
      input {
        width: 240px;
        border: 2px solid gray;
        padding: 8px;
        margin: 8px 0;
        border-radius: 4px;
      }
    }
    .register_btn {
      a {
        input {
          border: none;
          border-radius: 64px;
          font-weight: bold;
          background: $theme_color;
          transition: opacity 0.3s;
          &:hover {
            cursor: pointer;
            opacity: 0.9;
          }
        }
      }
    }
    .check_list {
      width: 80%;
      margin: 16px auto;
      text-align: left;
      font-size: 12px;
      .check_item {
        display: flex;
        margin: 8px;
      }
      input {
        margin-right: 8px;
      }
      label, input {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

footer {
  margin-top: auto;
  padding: 24px;
  text-align: center;
  color: #fff;
  background: $theme_color;
  .footer_link {
    margin-top: 8px;
    a {
      color: #fff;
      text-decoration: none;
      transition: color 0.3s;
      &:hover {
        color: gray;
      }
    }
  }
}