* {
  padding: 0;
  margin: 0;
}

body {
  section {
    width: 90%;
    height: fit-content;
    background: #DC3545;
    margin: 16px auto;
    padding: 8px;
    border-radius: 8px;
    ul {
      li {
        list-style: none;
      }
    }
    .text {
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      .border {
        border: 2px dashed lightgray;
        margin: 0 8px;
      }
    }
    .material-symbols-rounded {
      font-size: 64px;
      color: #FFC107;
    }
    form {
      text-align: center;
      textarea {
        width: 240px;
        border-radius: 8px;
        border: 2px solid lightgray;
        padding: 4px 8px;
      }
      input {
        height: 32px;
        width: 240px;
        border-radius: 8px;
        border: 2px solid lightgray;
        padding: 0 8px;
        margin: 4px 0;
      }
      button {
        height: 48px;
        width: 240px;
        border-radius: 48px;
        border: 2px solid lightgray;
        font-weight: bold;
        cursor: pointer;
        background: lightgray;
        margin: 24px 0;
        font-size: 18px;
        color: blue;
        &:hover {
          background: gray;
          color: #000;
        }
      }
      select {
        width: 120px;
        height: 32px;
        border-radius: 8px;
        border: 2px solid lightgray;
      }
      .info-field {
        padding: 8px;
        label {
          font-weight: bold;
          font-size: 18px;
          text-align: left;
        }
      }
      .color {
        margin: 0 auto;
        width: 240px;
        height: fit-content;
        line-height: 2rem;
        font-size: 14px;
        input {
          border-radius: 8px;
          border: 2px solid lightgray;
        }
      }
    }
    .result {
      text-align: center;
      .back-btn {
        display: inline-block;
        width: 64px;
        background: darkgray;
        border: 2px solid gray;
        border-radius: 4px;
        margin: 16px;
        cursor: pointer;
        a {
          color: blue;
          text-decoration: none;
        }
        &:hover {
          background: gray;
          a {
            color: black;
          }
        }
      }
    }
  }
}

footer {
  margin: 32px;
  font-size: 14px;
  text-align: center;
}