main {
  // :nth-child()がBOX全体を走査し適用するものであったのに対し、
  // X：nth-of-type()は指定した要素（X）を走査し適用させます
  & > h2:nth-of-type(odd) {
    background-color: pink;
  }
  & > h2:first-of-type {
    background-color: skyblue;
  }
  & > h2:last-of-type {
    background-color: purple;
  }
}