body {
  margin: 0;
}

header {
  background-color: pink;
}

.container {
  display: flex;
}

main {
  background-color: skyblue;
  flex: 1;
}

aside {
  background-color: orange;
  width: 100px;
}

footer {
  background-color: silver;
}