html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background-color: pink;
}

// flexboxではマージンの相殺は起きませんので、注意が必要です
.container {
  display: flex;
  flex: 1;
}

main {
  background-color: skyblue;
  flex: 1;
}

nav {
  background-color: tomato;
  width: 100px;
  order: -1;
}

aside {
  background-color: orange;
  width: 100px;
}

footer {
  background-color: silver;
}