body {
  margin: 0;
}

header {
  height: 200px;
  background-color: silver;
  position: relative;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

div {
  width: 50px;
  height: 100px;
  background-color: skyblue;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 50px);
}