* {
  padding: 0;
  margin: 0;
}

html {
  img:not(.logo) {
    border-radius: 8px;
  }
  .logo {
    vertical-align: bottom;
  }
  .container {
    margin: 0 16px;
    outline: 2px solid red;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      opacity: 0.5;
      transition: 0.3s;
    }
  }
}

body {
  header {
    background: #eee;
    padding: 8px 0;
    ul {
      display: flex;
      li {
        a {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          text-align: center;
          i {
            font-size: 18px;
          }
        }
      }
      li + li {
        margin-left: 8px;
      }
    }
    img {
      width: 168px;
      height: 48px;
    }
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}