* {
  padding: 0;
  margin: 0;
}

main {
  width: 300px;
  margin: 0 auto;
  img {
    vertical-align: bottom;
  }
  ul {
    list-style: none;
  }
  nav {
    margin-bottom: 8px;
    ul {
      display: flex;
      justify-content: space-between;
    }
    li {
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 12px;
      padding: 4px;
      text-align: center;
      user-select: none;
      cursor: pointer;
      &:hover {
        background: #f8f8f8;
      }
      &#play {
        width: 140px;
      }
      &#prev, &#next {
        width: 60px;
      }
    }
  }
  & #main {
    margin-bottom: 8px;
    border-radius: 8px;
    width: 300px;
    height: 200px;
  }
  .thumbnails {
    img {
      border-radius: 4px;
      width: 56px;
    }
  }
}