* {
  padding: 0;
  margin: 0;
  img {
    border-radius: 16px;
  }
}

header {
  background: skyblue;
  padding: 8px;
  a {
    color: #fff;
    text-decoration: none;
  }
}

section {
  .section {
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    p, span {
      padding: 0 8px;
      border-radius: 8px;
    }
    hr {
      border: 2px solid red;
      width: 80px;
      margin: 0 auto 16px;
    }
    h2 {
      text-align: center;
    }
  }

  .block {
    background: pink;
    p {
      background: skyblue;
    }
  }

  .inline {
    background: pink;
    span {
      background: skyblue;
    }
  }

  .img {
    width: 50%;
    border-radius: 16px;
    background: pink;
    padding: 16px;
    margin: 0 auto;
    img {
      width: 100%;
      background: skyblue;
    }
    p {
      padding: 8px;
      background: skyblue;
    }
  }
}