@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  color: #323232;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
body .hero {
  width: 90%;
  margin: 32px auto;
  justify-content: center;
  align-items: center;
}
body .hero .icon {
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
  min-width: 240px;
  text-align: center;
  vertical-align: middle;
  margin: 16px;
  border-radius: 16px;
  padding: 64px;
}
body .hero .icon h1 {
  color: #e59400;
  margin: 16px 0;
}
body .hero .icon img {
  border-radius: 50%;
  transition: transform 1s;
}
body .hero .icon img:hover {
  transform: rotate(360deg);
}
body .hero .icon img:active {
  transform: rotate(0deg);
}
body .hero .desc h1 i {
  color: rgb(229, 96, 52);
}
body .hero .desc .text {
  max-width: 480px;
  margin: 32px auto;
}
body .hero .desc .text p {
  margin: 16px 0;
}
body .hero .button {
  width: 240px;
  background: linear-gradient(#007BFF 50%, blue 50%);
  border-radius: 8px;
  text-align: center;
  letter-spacing: 0.3rem;
  margin: 0 auto;
  padding: 16px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
  box-shadow: 0 5px 1px navy;
  transition: opacity 0.2s;
}
body .hero .button a {
  color: #fff;
  text-decoration: none;
}
body .hero .button:hover {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.7;
}
body .hero .button:active {
  box-shadow: none;
  transform: translateY(2px);
}
body .about {
  width: 90%;
  margin: 32px auto;
}
body .about .about_item {
  margin: 16px;
  min-width: 160px;
}
body .about .about_item .about_icon {
  text-align: center;
}
body .about .about_item .about_icon .bi {
  font-size: 48px;
}
body .about .about_item .about_icon .bi.bi-incognito {
  color: #17A2B8;
}
body .about .about_item .about_icon .bi.bi-flag {
  color: #DC3545;
}
body .about .about_item .about_icon .bi.bi-gear-wide-connected {
  color: #FFC107;
}
body .about .about_item .about_icon .bi.bi-question-lg {
  color: #28A745;
}
body .about h2 {
  text-align: center;
  padding: 16px 0;
}
body .about .list {
  margin: 0 16px 16px;
}
body .history {
  width: 90%;
  margin: 32px auto;
  padding: 16px;
  background: rgba(211, 211, 211, 0.5);
  border-radius: 16px;
}
body .history h2 {
  padding: 8px 16px;
}
body .history table {
  margin-top: 16px;
  width: 100%;
  border: 3px solid #000;
}
body .history table th, body .history table td {
  padding: 4px;
}

header {
  height: 90px;
  background: navy;
}
header .header_icon {
  display: flex;
}
header .header_icon a {
  width: 240px;
  height: 60px;
  margin: 16px;
  background: #e59400;
  border-radius: 48px;
  text-decoration: none;
}
header .header_icon a h1 {
  position: absolute;
  top: 35px;
  left: 85px;
  color: #fff;
  letter-spacing: 0.1rem;
  font-size: 16px;
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
}
header .header_icon a img {
  display: block;
  width: 60px;
  height: 60px;
  margin: auto 0;
  border-radius: 50%;
}

footer {
  margin-top: auto;
  padding: 40px 0;
  text-align: center;
  background: navy;
  color: #fff;
}
footer i, footer a {
  color: #fff;
}
footer .about_company {
  margin-top: 16px;
}
footer .about_company a {
  text-decoration: none;
}
footer .about_company a:hover {
  color: #000;
  background: #fff;
  border-radius: 4px;
  padding: 4px;
}

@media (min-width: 800px) {
  section {
    width: 80%;
    display: flex;
  }
  section .icon {
    width: 100%;
    margin: 48px auto 0;
  }
  section .desc {
    width: 100%;
  }
  .about .about_item h2 {
    min-height: 120px;
  }
}
@media (max-width: 800px) {
  header .header_icon {
    background: none;
    width: 80px;
  }
  header .header_icon h1 {
    display: none;
  }
  section .icon {
    text-align: center;
  }
}/*# sourceMappingURL=styles.css.map */