$themeColor: #007BFF;

* {
  padding: 0;
  margin: 0;
  color: #323232;
}

section {
  width: 90%;
  margin: 16px auto;
  justify-content: center;
  align-items: center;
  .icon {
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    min-width: 240px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    h1 {
      color: #e59400;
      margin: 16px 0;
    }
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      transition: transform 1s;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
  .desc {
    h1 {
      i {
        color: rgb(229, 96, 52);
      }
    }
    .text {
      max-width: 480px;
      padding: 16px 0;
      margin: 32px auto;
      p {
        margin: 16px 0;
      }
    }
  }
  .button {
    width: 180px;
    background: linear-gradient($themeColor 50%, blue 50%);
    border-radius: 8px;
    text-align: center;
    letter-spacing: 0.3rem;
    margin: 0 auto;
    padding: 16px 8px 16px 16px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 5px 1px navy;
    transition: opacity 0.2s;
    &:hover {
      cursor: pointer;
      user-select: none;
      opacity: 0.7;
    }
    &:active {
      box-shadow: none;
      transform: translateY(2px);
    }
  }
}

@media (min-width: 800px) {
  section {
    width: 80%;
    display: flex;
    .icon {
      width: 100%;
      margin: 48px auto 0;
    }
    .desc {
      width: 100%;
    }
  }
}

@media (max-width: 400px) {
  section {
    .icon {
      text-align: center;
    }
  }
}