* {
  padding: 0;
  margin: 0;
}

$themeColor: #CCCCCC;

.canvas {
  width: 50%;
  height: 100%;
  background: $themeColor;
  margin: 16px auto;
  border-radius: 8px;
}

footer {
  height: 80px;
  color: $themeColor;
  font-size: 14px;
  text-align: center;
  padding: 16px;
}