header {
  height: 80px;
  background: center/cover pink url(img/header.png);
  /* 以下の４行を一括で指定した記述方法が上記になります */
  /* 
  background-color: pink;
  background-image: url(img/header.png);
  background-size: cover;
  background-position: center;
  */
}